@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

html {
  min-height: 100%;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;
}

_ibg {
  position: relative;
}

_ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

._container {
  width: 1200px;
  margin: 0px auto;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header {
  position: absolute;
  width: 100%;
  margin: 60px 40px 0 40px;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
  text-decoration: none;
}

.header__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-left: 4px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.menu {
  margin: 0px 0px 0px 542px;
}

.menu__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu__item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: inline-block;
}

.menu__item:not(:first-child) {
  margin-left: 35px;
}

.menu .active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.menu__link {
  text-decoration: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-s */
  color: #CDCDCD;
}

.burger-menu {
  display: none;
}

.main {
  background-image: url(/assets/images/header-backgraund.png);
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-block {
  margin: 0 auto;
}

.main-block__title {
  margin-bottom: 42px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  margin-right: 42px;
}

.main-block__image {
  margin-top: 180px;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FAFAFA;
}

.main-block__text {
  padding-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 460px;
  height: 322px;
}

.main-block__subtext {
  margin-bottom: 42px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.main-block__btn-background:hover {
  background-color: #FDDCC4;
}

.main-block__btn-background {
  background-color: #F1CDB3;
  max-width: 207px;
  height: 52px;
  border-radius: 100px;
  position: relative;
  top: 0;
  left: 0;
}

.main-block__btn-background a {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  position: absolute;
  top: 15px;
  left: 45px;
}

.main-block__btn-background:hover {
  cursor: pointer;
}

@media (max-width: 1279px) {
  .wrapper {
    width: 768px;
    padding-bottom: 639px;
  }
  .header {
    margin: 30px 30px;
  }
  .header__subtitle {
    margin-top: 10px;
  }
  ._container {
    width: 708px;
    margin: 0 auto;
  }
  .main {
    height: 1165px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .main-block__btn-background {
    margin: 0 auto;
  }
  .main-block__btn-background a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
    /* Inside auto layout */
  }
  .main-block__text {
    padding: 0;
  }
  .main-block__container {
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-block__image {
    margin-top: 100px;
    margin-left: 130px;
  }
  .main-block__image img {
    width: 569px;
    height: 593px;
  }
  .header__container {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    margin: 0;
    width: 450px;
  }
  .menu__item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-light-s */
    color: #FAFAFA;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 320px;
  }
  .header {
    margin: 30px 0 0 10px;
  }
  .header__logo {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
  }
  .header__container {
    width: 300px;
  }
  .header__container .burger-menu {
    display: block;
    margin: 0 45px 0 0;
  }
  .menu {
    display: none;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-animal {
  width: 100%;
}

.main-animal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 588px;
  background: #FFFFFF;
}

.main-animal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  height: 380px;
  margin-left: 120px;
}

.main-animal__title {
  padding-bottom: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.main-animal__subtitle {
  padding-bottom: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.main-animal .main-animal__animal {
  width: 300px;
  height: 408px;
}

@media (max-width: 1279px) {
  .main-animal {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .main-animal__text {
    margin: 0 0 100px 0;
  }
  .main-animal__container {
    height: 1048px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-animal__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .main-animal__animal {
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 767px) {
  .main {
    width: 320px;
    margin: 0 auto;
  }
  .main-block__image {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 105px 0 0 42px;
  }
  .main-block__image img {
    width: 260px;
    height: 271px;
  }
  .main-block__container {
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 673px;
  }
  .main-block__title {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    letter-spacing: 0.06em;
    /* color-light-xl */
    color: #FFFFFF;
    margin: 0 0 0 15px;
  }
  .main-block__subtext {
    margin: 42px 0 42px 7px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
  }
  .main-animal__container {
    padding-top: 80px;
    height: 974px;
  }
  .main-animal__text {
    width: 300px;
    margin: 0 auto;
    height: 974px;
  }
  .main-animal__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .main-animal__subtitle {
    /* paragraph-l */
    width: 270px;
    /* paragraph-l */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    text-align: justify;
    /* color-dark-xl */
    color: #4C4C4C;
    margin: 0 auto;
  }
  .main-animal__animal {
    margin-bottom: 42px;
  }
  .main-animal__animal img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.main-friends {
  height: 877px;
  max-width: 100%;
  margin: 0 auto;
  background: #F6F6F6;
}

.main-friends__container {
  position: relative;
  top: 0;
  left: 0;
}

.main-friends__title {
  margin: 0 auto;
  padding-top: 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main-friends__title h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.main-friends__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
}

.main-friends__control .btn-control:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.main-friends__control .btn-control {
  border: 2px solid #FDDCC4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 260px;
  left: 0;
  z-index: 20px;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.main-friends__control .btn-control img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.main-friends__control .btn-control ._prev {
  width: 52px;
  height: 52px;
}

.main-friends__control .btn-control ._prev img {
  width: 14px;
  height: 6px;
}

.main-friends__pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 103px;
}

.main-friends__pet:hover .pet-link {
  background-color: #F1CDB3;
}

.main-friends__pet {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.main-friends__pet .pet-image {
  width: 270px;
  height: 270px;
}

.main-friends__pet .pet-image img {
  width: 270px;
  height: 270px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.main-friends__pet .pet-title {
  margin: 40px 0 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.main-friends__pet .pet-link:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

.main-friends__pet .pet-link {
  border: 3px solid #F1CDB3;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  position: relative;
  top: 30px;
  left: 41.5px;
}

.main-friends__pet .pet-link a {
  position: absolute;
  top: 35px;
  left: 50%;
  margin: -15% 0 0 -25%;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  /* Inside auto layout */
}

.__btn-background:hover {
  background-color: #FDDCC4;
  opacity: 1;
  cursor: pointer;
}

.__btn-background {
  background-color: #F1CDB3;
  max-width: 261px;
  height: 52px;
  border-radius: 100px;
  margin: 0 auto;
  position: relative;
  top: 68px;
  left: 0;
}

.__btn-background a {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  position: absolute;
  top: 15px;
  left: 45px;
}

@media (max-width: 1279px) {
  .main-friends__pet:last-child {
    display: none;
  }
  .main-friends__title {
    width: 25rem;
  }
  .main-friends__pet:first-child {
    margin-right: 40px;
  }
  .main-friends__control {
    margin: 0 30px;
  }
}

@media (max-width: 767px) {
  .main-friends {
    height: 791px;
  }
  .main-friends__pets {
    margin-top: 40px;
  }
  .main-friends__title {
    margin: 0 auto;
    padding-top: 42px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main-friends__title h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .main-friends__control {
    position: absolute;
    bottom: 240px;
    left: 40px;
  }
  .main-friends__control ._prev {
    margin-right: 40px;
  }
  .main-friends__control ._next {
    margin-left: 40px;
  }
  .main-friends__pet {
    display: none;
  }
  .main-friends__rest {
    margin: 0 auto;
    position: relative;
    top: 114px;
    left: 0;
  }
  .main-friends__pet:first-child {
    display: block;
    margin: 0 auto;
  }
}

.main-help {
  background-color: white;
  height: 611px;
  margin: 0 auto;
}

.main-help__vector:nth-child(-n+5) {
  margin: 0 50px;
}

.main-help__vector:nth-child(n+6):nth-child(-n+9) {
  margin: 55px 55px;
}

.main-help__vector:nth-child(6) {
  padding-left: 65px;
}

.main-help__container {
  margin: 0;
  margin: 0 auto;
  padding-top: 80px;
}

.main-help__container .row {
  margin: 0 auto;
  width: 1026px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-help__header {
  padding-top: 80px;
}

.main-help__text {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.main-help__title {
  margin-top: 30px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.main-help__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-help__item1 img {
  margin: 0 auto;
}

.main-help__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 100px;
  margin-top: 55px;
}

.main-help__item2 img {
  margin: 0 auto;
}

.main-help .main-help__vector {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 113px;
}

.main-help .main-help__vector img {
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .main-help {
    height: 779px;
  }
  .main-help__container {
    padding-top: 60px;
    margin: 0 auto;
  }
  .main-help .row {
    margin: 0 auto;
    width: 630px;
    height: 449px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    -ms-grid-rows: (33%)[3];
        grid-template-rows: repeat(3, 33%);
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    justify-items: center;
  }
  __vector:nth-child(-n+5) {
    margin: 0 0;
  }
  __vector:nth-child(n+6):nth-child(-n+9) {
    margin: 0 0;
  }
  __vector:nth-child(6) {
    padding-left: 65px;
  }
  __vector:nth-child(6) {
    padding-left: 0px;
  }
  __vector {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .main-help {
    height: 745px;
    width: 300px;
  }
  .main-help__vector:nth-child(-n+5) {
    margin: 0 0;
  }
  .main-help__vector:nth-child(n+6):nth-child(-n+9) {
    margin: 0 0;
  }
  .main-help__vector:nth-child(6) {
    padding-left: 0px;
  }
  .main-help__header {
    padding: 0;
    margin: 30px 0 0 0;
  }
  .main-help__text {
    padding: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .main-help__title {
    margin-top: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .main-help__vector {
    margin: 0;
  }
  .main-help__vector img {
    width: 50px;
    height: 50px;
  }
  .main-help__container {
    padding: 0;
    width: 300px;
  }
  .main-help__container .row {
    margin-top: 30px;
    width: 290px;
    height: 555px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

.main-donation {
  height: 462px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: #F6F6F6;
}

.main-donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
  left: 183px;
}

.main-donation__images {
  max-width: 505px;
  height: 261px;
  margin-right: 30px;
}

.main-donation__card {
  max-width: 380px;
  height: 282px;
  margin-left: 12px;
}

.main-donation__bank {
  margin-bottom: 20px;
}

.main-donation__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
  max-width: 380px;
  height: 90px;
  margin: 0 0 20px 0;
}

.main-donation__info {
  margin-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color-dark-m */
  color: #B2B2B2;
}

@media (max-width: 1279px) {
  .main-donation {
    height: 783px;
  }
  .main-donation__container {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-donation__images {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 767px) {
  .main-donation {
    width: 320px;
    height: 500px;
  }
  .main-donation .bank-card {
    width: 281px;
  }
  .main-donation__images {
    margin: 15px 0 0 0;
  }
  .main-donation__images img {
    width: 260px;
    height: 135px;
  }
  .main-donation__card {
    margin: 0;
  }
  .main-donation__info {
    width: 280px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    /* color-dark-m */
    color: #B2B2B2;
  }
  .main-donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
    margin: 10px 35px 0 0;
  }
  .main-donation__container {
    width: 320px;
    position: static;
    margin-left: 20px;
  }
  .main-donation__images {
    margin-top: 42px;
  }
}

.footer {
  background-image: url(/assets/images/footer-back.png);
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  margin: 0 auto;
  height: 350px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 40px 0 40px;
  max-width: 1280px;
  height: 350px;
}

.footer-connect {
  margin: 56px 160px 0 0;
  width: 302px;
  height: 234px;
}

.footer-connect__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #FFFFFF;
}

.footer-connect__email {
  margin: 40px 0;
}

.footer-text {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
  margin-left: 20px;
}

.footer-office {
  width: 278px;
  height: 234px;
  margin: 56px 160px 0 0;
}

.footer-office__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #FFFFFF;
  margin-bottom: 34px;
}

.footer-office__boston {
  margin-bottom: 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-images__dog {
  margin-top: 35px;
}

@media (max-width: 1279px) {
  .footer {
    height: 639px;
  }
  .footer-connect {
    margin: 30px 0 0 0;
  }
  .footer-office {
    margin: 30px 0 0 45px;
  }
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-images__dog {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 809px;
  }
  .footer-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    /* color-primary */
    color: #F1CDB3;
  }
  .footer-connect {
    margin: 42px 0 0 0;
    width: 279px;
  }
  .footer-connect__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-light-xl */
    color: #FFFFFF;
  }
  .footer-office {
    margin: 0;
    margin-top: 15px;
  }
  .footer-office__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-light-xl */
    color: #FFFFFF;
  }
  .footer-container {
    margin: 0 auto;
  }
  .footer-images__dog {
    margin: 0;
  }
  .footer-images__dog img {
    width: 260px;
    height: 271px;
  }
}
/*# sourceMappingURL=style.css.map */