/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

html {
  min-height: 100%;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100%;
}

_ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

._container {
  width: 1200px;
  margin: 0px auto;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ________________________HEADER__________________________________
$colorTitle: #f1cdb3;

.header {
  position: absolute;
  width: 100%;

  margin: 60px 40px 0 40px;
  left: 0;
  top: 0;
  z-index: 50;

  // .header__container
  &__container {
    display: flex;

    align-items: center;
    height: 60px;
  }

  // .header__logo

  &__logo {
    z-index: 1000;
  }

  // .header__title

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-primary */

    color: $colorTitle;
    text-decoration: none;
  }

  // .header__subtitle

  &__subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 4px;
    color: #ffffff;
    letter-spacing: 0.1em;
  }
}

.menu {
  // Нужно дорабоать
  margin: 0px 0px 0px 542px;
  // .menu__list

  &__list {
    width: max-content;
  }

  // .menu__item

  &__item {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: inline-block;
  }

  &__item:not(:first-child) {
    margin-left: 35px;
  }

  // .menu__link
  .active {
    border-bottom: 3px solid $colorTitle;

    color: #fafafa;
  }

  &__link {
    text-decoration: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */

    /* color-dark-s */

    color: #cdcdcd;
  }

  // &__link:hover {
  //   border-bottom: 3px solid $colorTitle;
  //   color: #FAFAFA;

  // }
}

.burger-menu {
  display: none;
}

.main {
  background-image: url(/assets/images/header-backgraund.png);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  flex: 1 1 auto;

  // background-image: url(/assets/images/header-backgraund.png);
  // background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

// ________________________FOOTER__________________________________
.footer {
  flex: 0 0 auto;
}

//

.main-block {
  margin: 0 auto;

  &__title {
    margin-bottom: 42px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    margin-right: 42px;
  }

  &__image {
    margin-top: 180px;
  }

  &__container {
    display: flex;

    // justify-content: space-around;

    color: #fafafa;
  }

  // .main-block__text

  &__text {
    padding-top: 30px;
    align-self: center;
    max-width: 460px;
    height: 322px;
  }

  // .main-block__subtext

  &__subtext {
    margin-bottom: 42px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
  }

  // .main-block__btn
  &__btn-background:hover {
    background-color: #fddcc4;
  }

  &__btn-background {
    background-color: $colorTitle;
    max-width: 207px;
    height: 52px;
    border-radius: 100px;
    position: relative;
    top: 0;
    left: 0;

    a {
      text-decoration: none;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      color: #292929;
      position: absolute;
      top: 15px;
      left: 45px;
    }
  }

  &__btn-background:hover {
    cursor: pointer;
  }
}

@media (max-width: 1279px) {
  .wrapper {
    display: flex;

    margin: 0 auto;
    max-width: 768px;
    padding-bottom: 639px;
  }

  .menu {
    max-width: 100%;
  }

  .header {
    margin: 0;
    padding: 30px;

    &__subtitle {
      margin-top: 10px;
    }

    &__container {
      margin: 30px 0 0 30px;
    }

    &__logo {
    }
  }

  ._container {
    width: 708px;
  }

  .main {
    height: 1165px;

    flex: 1 1 auto;
  }

  .main-block__text {
  }

  .main-block {
    &__btn-background {
      margin: 0 auto;

      a {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */

        letter-spacing: 0.06em;

        /* color-dark-3xl */

        color: #292929;

        /* Inside auto layout */
      }
    }

    &__text {
      padding: 0;
    }

    &__container {
      margin-top: 150px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__image {
      margin-top: 100px;
      margin-left: 130px;

      img {
        width: 569px;
        height: 593px;
      }
    }
  }

  .header {
    &__container {
      margin: 0;

      display: flex;
      justify-content: space-between;
    }
  }

  .menu {
    margin: 0;
    width: 450px;

    &__item {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      /* identical to box height, or 24px */

      /* color-light-s */

      color: #fafafa;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 320px;
  }

  .header {
    margin: 30px 0 0 10px;

    &__logo {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
    }

    &__container {
      width: 300px;
      // display: flex;
      // justify-content: space-around;

      .burger-menu {
        display: block;
        margin: 0 45px 0 0;
      }
    }
  }

  .menu {
    display: none;
  }
}

// ________________________MAIN__________________________________

.main {
  flex: 1 1 auto;
}

.main-animal {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    height: 588px;
    background: #ffffff;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: 380px;
    margin-left: 120px;
  }

  &__title {
    padding-bottom: 25px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
  }

  &__subtitle {
    padding-bottom: 25px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }

  .main-animal {
    // .main-animal__animal

    &__animal {
      width: 300px;
      height: 408px;
    }
  }
}

@media (max-width: 1279px) {
  .main-animal {
    width: 100%;
    height: auto;
    margin: 0 auto;

    &__text {
      margin: 0 0 100px 0;
    }

    &__container {
      // margin-bottom: 100px;
      height: 1048px;

      flex-direction: column;
    }

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      /* or 45px */

      align-items: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }

    &__animal {
      margin: 0 auto;
      align-self: center;
    }
  }
}

@media (max-width: 767px) {
  .main {
    width: 320px;
    margin: 0 auto;

    // &-block {
    //   max-height: 673px;
    // }
    &-block {
      &__image {
        width: max-content;
        height: max-content;
        margin: 105px 0 0 42px;

        img {
          width: 260px;
          height: 271px;
        }
      }

      &__container {
        margin-left: 5px;
        display: flex;

        width: 300px;
        height: 673px;
      }

      &__title {
        text-align: center;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */

        letter-spacing: 0.06em;

        /* color-light-xl */

        color: #ffffff;
        margin: 0 0 0 15px;
      }

      &__subtext {
        margin: 42px 0 42px 7px;
        text-align: center;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
      }
    }
  }

  .main-animal {
    &__container {
      padding-top: 80px;

      height: 974px;
    }

    &__text {
      width: 300px;
      margin: 0 auto;
      height: 974px;
    }

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      /* or 32px */

      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }

    &__subtitle {
      /* paragraph-l */
      width: 270px;
      /* paragraph-l */

      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      /* or 24px */

      text-align: justify;

      /* color-dark-xl */

      color: #4c4c4c;
      margin: 0 auto;
    }

    &__animal {
      img {
        width: fit-content;
        height: fit-content;
      }

      margin-bottom: 42px;
    }
  }
}

.main-friends {
  height: 877px;
  max-width: 100%;
  margin: 0 auto;
  background: #f6f6f6;

  &__container {
    position: relative;
    top: 0;
    left: 0;
  }

  // 400/ 877 * 100%;
  &__title {
    margin: 0 auto;
    padding-top: 80px;
    width: max-content;

    h3 {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      /* or 45px */

      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }
  }

  &__control {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;

    .btn-control:hover {
      background-color: #fddcc4;

      cursor: pointer;
    }

    .btn-control {
      border: 2px solid #fddcc4;
      box-sizing: border-box;
      position: relative;
      top: 260px;
      left: 0;
      z-index: 20px;
      width: 52px;
      height: 52px;

      border-radius: 100px;

      img {
        position: absolute;
        top: 15px;
        left: 15px;
      }

      ._prev {
        width: 52px;
        height: 52px;

        img {
          width: 14px;
          height: 6px;
        }
      }
    }
  }

  &__pets {
    display: flex;
    justify-content: space-around;
    margin: 0 103px;
  }

  &__pet:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 19px 0px rgba(34, 60, 80, 0.31);
    transition: box-shadow 0.5s, transform 0.5s;

    .pet-link {
      background-color: #f1cdb3;
    }
  }

  &__pet {
    -webkit-transition: 0.5s ease;

    width: 270px;
    height: 435px;

    background: #fafafa;
    border-radius: 9px;

    .pet-image {
      width: 270px;
      height: 270px;

      img {
        width: 270px;
        height: 270px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
    }

    .pet-title {
      margin: 40px 0 0 0;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      /* identical to box height */

      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }

    .pet-link:hover {
      background-color: #f1cdb3;
      cursor: pointer;
    }

    .pet-link {
      border: 3px solid #f1cdb3;
      width: 187px;
      height: 52px;
      border-radius: 100px;

      position: relative;
      top: 30px;
      left: 41.5px;

      a {
        position: absolute;
        top: 35px;
        left: 50%;
        margin: -15% 0 0 -25%;
        text-decoration: none;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */

        letter-spacing: 0.06em;

        /* color-dark-3xl */

        color: #292929;

        /* Inside auto layout */
      }
    }
  }
}

.__btn-background:hover {
  background-color: #fddcc4;
  opacity: 1;
  cursor: pointer;
}

.__btn-background {
  background-color: #f1cdb3;
  max-width: 261px;
  height: 52px;
  border-radius: 100px;
  margin: 0 auto;

  position: relative;
  top: 68px;
  left: 0;

  a {
    text-decoration: none;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;

    /* color-dark-3xl */

    color: #292929;

    position: absolute;
    top: 15px;
    left: 45px;
  }
}

@media (max-width: 1279px) {
  .main-friends {
    &__pet:last-child {
      display: none;
    }

    &__title {
      width: 25rem;
    }

    &__pet:first-child {
      margin-right: 40px;
    }

    &__control {
      margin: 0 30px;
    }
  }
}

@media (max-width: 767px) {
  .main-friends {
    height: 791px;

    &__pets {
      margin-top: 40px;
    }

    &__title {
      h3 {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */

        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        /* color-dark-l */

        color: #545454;
      }

      margin: 0 auto;
      padding-top: 42px;
      width: max-content;
    }

    &__control {
      position: absolute;
      bottom: 240px;
      left: 40px;

      ._prev {
        margin-right: 40px;
      }

      ._next {
        margin-left: 40px;
      }
    }

    &__pet {
      display: none;
    }

    &__rest {
      margin: 0 auto;
      position: relative;
      top: 114px;
      left: 0;
    }

    &__pet:first-child {
      display: block;
      margin: 0 auto;
    }
  }
}

.main-help {
  background-color: white;
  height: 611px;

  margin: 0 auto;

  // .main-help__container

  &__vector:nth-child(-n + 5) {
    margin: 0 50px;
  }

  &__vector:nth-child(n + 6):nth-child(-n + 9) {
    margin: 55px 55px;
  }

  &__vector:nth-child(6) {
    padding-left: 65px;
  }

  &__container {
    margin: 0;

    .row {
      margin: 0 auto;
      width: 1026px;
      display: flex;
      // justify-content: space-around;
      flex-wrap: wrap;
    }

    margin: 0 auto;
    padding-top: 80px;
  }

  &__header {
    padding-top: 80px;
  }

  &__text {
    margin: 0 auto;
    width: max-content;
    height: 90px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
  }

  &__title {
    margin-top: 30px;
    text-align: center;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
  }

  // .main-help__item1

  &__item1 {
    display: flex;
    justify-content: space-around;

    img {
      margin: 0 auto;
    }
  }

  &__item2 {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-top: 55px;

    img {
      margin: 0 auto;
    }
  }

  .main-help__vector {
    width: max-content;
    height: 113px;

    img {
      margin: 0 auto;
    }
  }
}

@media (max-width: 1279px) {
  .main-help {
    height: 779px;

    &__container {
      padding-top: 60px;
      margin: 0 auto;
      // width: 630px;
      // height: 449px;
    }

    .row {
      margin: 0 auto;
      width: 630px;
      height: 449px;
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: repeat(3, 33%);
      align-content: space-between;
      align-items: baseline;
      justify-items: center;
    }
  }

  &__vector:nth-child(-n + 5) {
    margin: 0 0;
  }

  &__vector:nth-child(n + 6):nth-child(-n + 9) {
    margin: 0 0;
  }

  &__vector:nth-child(6) {
    padding-left: 65px;
  }

  &__vector:nth-child(6) {
    padding-left: 0px;
  }

  &__vector {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .main-help {
    height: 745px;
    width: 300px;

    &__vector:nth-child(-n + 5) {
      margin: 0 0;
    }

    &__vector:nth-child(n + 6):nth-child(-n + 9) {
      margin: 0 0;
    }

    &__vector:nth-child(6) {
      padding-left: 0px;
    }

    &__header {
      padding: 0;
      margin: 30px 0 0 0;
    }

    &__text {
      padding: 0;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      /* or 32px */

      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }

    &__title {
      margin-top: 20px;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      /* identical to box height, or 17px */

      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
    }

    &__vector {
      margin: 0;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &__container {
      padding: 0;
      width: 300px;

      .row {
        margin-top: 30px;
        width: 290px;
        height: 555px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
    }

    &__item1 {
    }

    &__item2 {
    }
  }
}

.main-donation {
  height: 462px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: #f6f6f6;

  // .main-dination__container

  &__container {
    display: flex;
    position: absolute;
    top: 80px;
    left: 183px;
  }
}

.main-donation {
  // .main-donation__images

  &__images {
    max-width: 505px;
    height: 261px;
    margin-right: 30px;
  }

  // .main-donation__card

  &__card {
    max-width: 380px;
    height: 282px;
    margin-left: 12px;
  }

  // .main-donation__bank

  &__bank {
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    max-width: 380px;
    height: 90px;
    margin: 0 0 20px 0;
  }

  .bank-card {
  }
}

.main-donation {
  // .main-donatio__info

  &__info {
    margin-top: 20px;
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    align-items: center;

    /* color-dark-m */

    color: #b2b2b2;
  }
}

@media (max-width: 1279px) {
  .main-donation {
    height: 783px;

    &__card {
    }

    &__container {
      margin: 0 auto;

      flex-direction: column-reverse;
    }

    &__images {
      margin: 60px 0 0 0;
    }
  }
}

@media (max-width: 767px) {
  .main-donation {
    width: 320px;
    height: 500px;

    .bank-card {
      width: 281px;
    }

    &__images {
      margin: 15px 0 0 0;

      img {
        width: 260px;
        height: 135px;
      }
    }

    &__card {
      margin: 0;
    }

    &__info {
      width: 280px;
      font-family: "Arial";
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      /* or 150% */

      align-items: center;
      text-align: justify;

      /* color-dark-m */

      color: #b2b2b2;
    }

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      /* or 32px */

      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;

      /* color-dark-l */

      color: #545454;
      margin: 10px 35px 0 0;
    }

    &__container {
      width: 320px;
      // height: 542px;
      position: static;
      margin-left: 20px;
    }

    &__images {
      margin-top: 42px;
    }
  }
}

.footer {
  background-image: url(/assets/images/footer-back.png);
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  margin: 0 auto;

  height: 350px;
}

.footer-container {
  display: flex;
  margin: 0px 40px 0 40px;
  max-width: 1280px;
  height: 350px;
}

.footer-connect {
  margin: 56px 160px 0 0;
  width: 302px;
  height: 234px;
  // .footer-connect__title

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;

    /* color-light-xl */

    color: #ffffff;

    // .footer-connect__email
  }

  &__email {
    margin: 40px 0;
  }

  // .footer-connect__phone

  &__phone {
  }
}

.footer-images {
}

.footer-text {
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  letter-spacing: 0.06em;

  /* color-primary */

  color: $colorTitle;
  margin-left: 20px;
}

.footer-office {
  width: 278px;
  height: 234px;
  margin: 56px 160px 0 0;

  // .footer-office__title

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;

    /* color-light-xl */

    color: #ffffff;
    margin-bottom: 34px;
  }

  // .footer-office__boston

  &__boston {
    margin-bottom: 32px;
    width: max-content;
  }

  // .footer-office__london

  &__london {
  }
}

.__flex {
  display: flex;
}

.footer-images__dog {
  margin-top: 35px;
}

@media (max-width: 1279px) {
  .wrapper {
    overflow-x: hidden;
  }

  .footer {
    height: 639px;

    &-connect {
      margin: 30px 0 0 0;
    }

    &-office {
      margin: 30px 0 0 45px;
    }

    &-container {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-images__dog {
      margin-top: 60px;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    overflow-x: hidden;
  }

  .main {
    height: 823px;
  }

  .main-animal__container {
    width: 300px;
    margin: 0 auto;
  }

  .header {
    margin: 0;
    padding: 20px;

    &__container {
      margin: 0;
    }

    ._container {
      margin: 0;
    }
  }

  .footer {
    height: 809px;

    &-text {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      /* identical to box height, or 23px */

      letter-spacing: 0.06em;

      /* color-primary */

      color: #f1cdb3;
    }

    &-connect {
      margin: 42px 0 0 0;
      width: 279px;

      &__title {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */

        text-align: center;
        letter-spacing: 0.06em;

        /* color-light-xl */

        color: #ffffff;
      }
    }

    &-office {
      margin: 0;
      margin-top: 15px;

      &__title {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */

        text-align: center;
        letter-spacing: 0.06em;

        /* color-light-xl */

        color: #ffffff;
      }
    }

    &-container {
      margin: 0 auto;
    }

    &-images__dog {
      margin: 13px 0 0 0;

      img {
        width: 260px;
        height: 271px;
      }
    }
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: -350px;

    z-index: 100;
    // display: flex;
    background-color: #292929;
    align-items: center;
    justify-content: flex-end;

    max-width: 320px;
    height: 800px;
    transition: left ease 0.5s;

    &__item {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 160%;
      /* or 51px */

      /* color-light-s */

      color: #fafafa;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 10px 0px;
      text-align: center;
    }

    &__list {
      width: 300px;
      display: flex;
      flex-direction: column;
    }
  }
}
.burger-menu {
  z-index: 1000;
}
.menu-show {
  /* тут твои стили */

  position: absolute;
  top: 0;
  left: 0px;
  z-index: 100;
  border: 3px solid red;

  z-index: 1000;
}

.acvive-burger {
  .menu__list {
    &__item {
    }

    // .menu__link

    &__link {
    }
  }

  // .menu__item
}
